body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background: #e1eec3; /* fallback for old browsers */
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  background-attachment: fixed;
}

footer {
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 15px;
}
a {
  text-decoration: none;
  color: black;
}

.darkTheme {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
  background-attachment: fixed;
}
.darkTheme .border {
  background: rgba(202, 202, 202, 0.1);
  color: white;
}
.darkButton {
  display: block;
  margin: 0 auto;
  padding: 3px 6px;
  border: 2px solid rgb(107, 196, 255);
  border-radius: 10px;
  background: rgb(253, 255, 222);
  color: rgb(63, 63, 63);
  font-size: 12px;
  box-shadow: 3px 3px 3px rgb(131, 131, 131);
  transition: all 300ms ease-in-out;
}
.darkButton:hover {
  background-color: black;
  color: rgb(196, 117, 0);
  cursor: pointer;
}
.border {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  padding: 0 30px;
  max-width: 650px;
  min-width: 650px;
  border-radius: 20px;
  border: solid 1px rgb(65, 65, 65);
  background: #fffcf3;
}

.search-bar {
  position: relative;
  left: 0px;
  border: none;
  background: #eeee;
  border-radius: 30px;
  text-align: center;
  box-shadow: 3px 3px 3px rgb(161, 161, 161);
  margin-bottom: 25px;
  padding: 6px 4px;
  font-size: 12px;
}

.search-button {
  position: relative;
  left: 18px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(161, 161, 161);
  background: #bae3ee;
}

.search-button:hover {
  background: #5fd3f3;
  cursor: pointer;
}
.today-detail {
  position: relative;
  left: 5px;
}
.prediction {
  font-size: 11px;
}
.image-today {
  position: relative;
  left: 5px;
  top: -8px;
  max-width: 30px;
}

.temperature-today {
  position: relative;
  left: 10px;
  font-size: 34px;
  margin-bottom: 10px;
}
.prediction-small {

  text-align: center;
  margin-bottom: 10px;
}
.small-image {
  display: block;
  margin-top: 2px;
  margin-bottom: 2px;
  max-width: 25px;
}
.temperature-prediction-max, .temperature-prediction-min {
  font-size: 9px;
}
.temperature-prediction-max {
  margin-right: 3px;
  color:#1f2931
}
.temperature-prediction-min {
  color: #7a8792;
}
.text {
  font-size: 11px;
  font-weight: 500;
}
.background-image {
  position: relative;
  left: 40px;
}
.boldTemp {
  font-weight: bolder;
  text-shadow: 0.8px 0 #888888;
}
.lightTemp {
  font-weight: lighter;
  text-decoration: none;
}
.no-events {
  pointer-events: none;
}
#city {
  font-size: 18px;
}
#description::first-letter {
  text-transform: capitalize;
}
#location-text {
  font-size: 10px;
  position: absolute;
  left: -22px;
  top: 5px;
}
#wind {
  text-transform: lowercase;
}
#celsius-element,
#fahrenheit-element {
  font-size: 12px;
}
